<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{
    background: #0d1521;
    background-color: #23282e;
    font-family: tahoma;
    color: #989898;
    text-align: center;
}
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('partials/nav') %>
    <h1> Welcome to the nodejs learning </h1>
    <p>today we are learning about ejs template engine include method</p>
</body>
</html>